/* default */
.memes{
    max-width:100%;
}

@media (orientation: landscape) and (min-width:961px){
    .memes{
        max-width:33%;
    }
}

.fcContainerScroll{
    overflow: auto;
    display: flex;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
}

.fcContentScroll{
    flex: 1 0 auto;
}