/* default */
.fcDynamicWidth{
    max-width:100%;
}

@media (orientation: landscape) and (min-width:961px){
    .fcDynamicWidth{
        max-width:33%;
    }
}

.fcCenteredContainer{
    overflow: auto;
    display: flex;
    justify-content: center;
}

.fcCenteredContent{
    flex: 1 0 auto;
}

/* other */


.memeImage{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
}

.memeExpandButton{
    margin-left: auto !important;
}

.memeElementStyleDivContainer{
    display: flex;
    align-items:center;
}

.memeElementStyleDiv{
    flex: 0 1 auto;
    margin-top: auto !important;
    margin-bottom: auto !important;
    text-align: center;

    display: flex;
    align-items:center;
}

.memeCommentContainer{
    align-items: start;
    display: flex;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.memeCommentContainerLeft{
    flex: 0 0 auto;
    margin-right: 16px;
    display: block;
}

.memeCommentContainerRight{
    flex: 1 1 auto;
    margin-right: 16px;
    display: block;
    max-width: 100%;
}

.memeCommentContainerRightMarkdown{
    max-width: 90%;
    overflow-wrap: break-word;
}

.memeCommentContainerRightMarkdownImage{
    max-width: 100%;
    max-height: 100%;
}