.accountPaperWidth{
    max-width:100%;
    width: stretch;
}

.accountPaper{
    margin: 20px;
}

.fcCenteredContainer{
    overflow: auto;
    display: flex;
    justify-content: center;
}

.fcLeftAlignContainer{
    overflow: auto;
    display: flex;
    justify-content: left;
}


.fcAvatarContent{
    margin: 20px;
    width: 150px !important;
    height: 150px !important;
}

.fcContent{
    flex: 0 1 auto;
    overflow: hidden;
}

.fcEditButton{
    width: auto !important;
    height: auto !important;
}