/service-worker.js
/service-worker-custom.js
/safari-pinned-tab.svg
/mstile-150x150.png
/manifest.json
/index.html
/icon.png
/favicon.ico
/favicon-32x32.png
/favicon-16x16.png
/browserconfig.xml
/*.js
/android-chrome-192x192.png
/android-chrome-512x512.png
/apple-touch-icon.png
/asset-manifest.json
